# Copy to .env and UPDATE with your values

NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://archikumari484_db_user:y6RQGTeFNdSyv897@ac-joajzuh-shard-00-00.fgvoco9.mongodb.net:27017,ac-joajzuh-shard-00-01.fgvoco9.mongodb.net:27017,ac-joajzuh-shard-00-02.fgvoco9.mongodb.net:27017/?ssl=true&replicaSet=atlas-rv3w9e-shard-0&authSource=admin&appName=AWT-PROJECT
JWT_SECRET=supersecretkey12345678901234567890change_this

# Atlas setup: https://www.mongodb.com/docs/atlas/quick-start/
